<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <% if flash[:errors] != nil %>
        <% flash[:errors].each do |e| %>
          <p><%= e %></p>
        <% end %>
      <% end %>

      <% if signed_in? %>
        <form action="<%=  %>"></form>
      <% end %>

    </header>

    <%= yield %>

  </body>
</html>
